@import "tailwindcss";

@layer base {
    html {
      font-family: 'DM Sans', sans-serif;
    }
  }

    /* In your CSS file */
    .modal-content-hide-scrollbar::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
    }

    .modal-content-hide-scrollbar {
      -ms-overflow-style: none;  /* For Internet Explorer and Edge */
      scrollbar-width: none;  /* For Firefox */
    }